body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url("../assets/dota2bg.png");
    background-size: 100% auto;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
button{
    grid-row: 2/3;
    grid-column: 1/6;
    width: fit-content;
    place-self: center;
    padding:0.5em;
    background-color:#101010;
    color: #F00;
    cursor: pointer;
}
.card img{
    min-height: 200px;
    object-fit: cover;
}